@charset "UTF-8";
.visa__text-duration, .visa__text-recieve, body {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}

.contacts__email, .contacts__address, .visa__requirements, .visa__text-duration span, .visa__text-recieve span, .visa__country-title, .countries__description, .countries__title, .header-slider__info, .header-info__subtitle, .header {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
}

.contacts__phones, .contacts__title, .contacts__main::before, .visa__end, .visa__text-title, .news__title, .news__main::before, .visa__aside::before, .visa__countries-name, .visa__countries-grid::before, .visa__main-title, .visa__directions, .footer__social-email-link, .reviews__btn, .reviews__slider-author, .countries__price, .advantages__name, .form__btn, .header-slider__country, .header-info__btn, .header-nav__link--active, .header-top__contacts-phone {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}

.visa-title, .reviews__title, .most-popular__title, .advantages__title, .form__title, .header-slider__title, .header-info__title {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat-Black";
  font-weight: 900;
  font-style: normal;
  src: local("Montserrat-Black"), url("../fonts/Montserrat-Black.woff"), url("../fonts/Montserrat-Black.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff"), url("../fonts/Montserrat-Bold.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff"), url("../fonts/Montserrat-Medium.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff"), url("../fonts/Montserrat-Regular.woff2");
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-page .header-top__contacts-placetext,
.header-page .header-top__contacts-timetext,
.header-page .contacts-phone {
  color: #000;
}
.header-page .header-nav {
  -webkit-box-shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
.header-page .header-top__btn::before, .header-page .header-top__btn::after {
  background-color: #000;
}
.header-page .btn-menu span {
  background-color: #000;
}

body {
  background-color: azure;
}

.header {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding-top: 10px;
  margin-bottom: 120px;
}
.header__inner {
  min-height: 100vh;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.header-logo__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 180px;
  height: 150px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.header-top__btn {
  display: none;
}
.header-top__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 57px;
}
.header-top__contacts-place {
  margin-bottom: 40px;
}
.header-top__contacts-phonelink {
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-top__contacts-phonelink:hover {
  border-bottom: 1px solid #fff;
}
.header-top__contacts-phonelink + .header-top__contacts-phonelink {
  display: inline-block;
  margin-top: 8px;
}
.header-top__contacts-phone {
  font-size: 16px;
  line-height: 20px;
}
.header-top__contacts-place, .header-top__contacts-time, .header-top__contacts-phone {
  color: #fff;
  width: 230px;
  padding-left: 50px;
  position: relative;
}
.header-top__contacts-place::before, .header-top__contacts-time::before, .header-top__contacts-phone::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
}
.header-top__contacts-place::before {
  top: 4px;
  left: 10px;
  background-image: url("../images/icons/location.svg");
  background-repeat: no-repeat;
}
.header-top__contacts-time::before {
  top: -6px;
  left: 10px;
  background-image: url("../images/icons/clock.svg");
  background-repeat: no-repeat;
}
.header-top__contacts-phone::before {
  top: 8px;
  left: 10px;
  background-image: url("../images/icons/phone.svg");
  background-repeat: no-repeat;
}

.header-nav {
  width: 100%;
  z-index: 10;
}
.header-nav__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.25);
}
.header-nav__link {
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-nav__link:hover {
  border-bottom: 1px solid #000;
}
.header-nav__link--active {
  border-bottom: 1px solid #000;
}
.header-nav__list-search {
  position: relative;
}
.header-nav__list-search:after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 7px;
  cursor: pointer;
}
.header-nav__input {
  border-radius: 20px;
  border: 1px solid #000;
  padding: 8px 40px 8px 20px;
  outline: none;
}

.header-main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-info__title {
  margin-bottom: 35px;
  font-size: 38px;
  line-height: 46px;
}
.header-info__subtitle {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 50px;
}
.header-info__title, .header-info__subtitle {
  max-width: 570px;
  color: #fff;
}
.header-info__btn {
  font-size: 20px;
  line-height: 24px;
  padding: 16px 38px;
  background: #FCFF60;
  -webkit-box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-info__btn:hover {
  background: rgba(237, 240, 50, 0.737254902);
}

.header-slider {
  max-width: 350px;
  margin-top: 300px;
  z-index: 1;
}
.header-slider__inner {
  max-width: 300px;
  margin: 0 auto;
}
.header-slider__title {
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.header-slider__item {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 15px 10px 17px 10px;
  margin-bottom: 10px;
}
.header-slider__country {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 6px;
}
.header-slider__photo {
  margin: 0 auto;
  width: 245px;
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 8px;
}
.header-slider__description {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.header-slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 22px;
  color: #000;
}
.header-slider__price {
  background-color: #CFCFCF;
  padding: 5px 9px;
}
.header-slider__moreinfo {
  padding: 5px 9px;
  background-color: #84E439;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-slider__moreinfo:hover {
  background-color: #70c331;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.slick-dots li {
  margin: 0 8px;
}
.slick-dots li button {
  width: 14px;
  height: 14px;
  padding: 0;
  border: none;
  background-color: #C4C4C4;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots li.slick-active button {
  background-color: #84E439;
}

.information {
  padding-top: 135px;
}

.form {
  background-color: #345F87;
  border-radius: 10px;
  position: relative;
  margin-bottom: 70px;
  padding: 0 25px 35px 70px;
}
.form__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__wrapper {
  margin-right: 30px;
}
.form::after {
  content: "";
  position: absolute;
  background-image: url("../images/form/girl.png");
  background-repeat: no-repeat;
  background-size: contain;
  right: -85px;
  bottom: -35px;
  width: 375px;
  height: 375px;
}
.form__title {
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  max-width: 570px;
  padding-top: 30px;
  padding-bottom: 45px;
  margin-left: 100px;
}
.form__name-box, .form__phone-box {
  position: relative;
  display: inline;
  width: 100%;
  height: 100%;
}
.form__name-box::before, .form__phone-box::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}
.form__name-box::before {
  background-image: url("../images/form/user-icon.svg");
  top: -2px;
  left: 7px;
}
.form__phone-box::before {
  background-image: url("../images/form/phone.svg");
  top: -2px;
  left: 7px;
}
.form__name, .form__phone {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  padding: 10px 10px 10px 35px;
  border: none;
}
.form__name {
  margin-right: 25px;
}
.form__btn {
  margin-right: auto;
  background-color: #F2994A;
  padding: 12px 27px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px 5px rgb(242, 153, 74);
          box-shadow: 0px 0px 15px 5px rgb(242, 153, 74);
  border-radius: 10px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form__btn:hover {
  background-color: #d18a4c;
  -webkit-box-shadow: 0px 0px 10px 3px rgb(242, 153, 74);
          box-shadow: 0px 0px 10px 3px rgb(242, 153, 74);
}

.advantages {
  margin-bottom: 50px;
  text-align: center;
}
.advantages__title {
  font-size: 25px;
  line-height: 30px;
  color: #000;
  margin-bottom: 35px;
}
.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.advantages__item {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__img {
  margin-bottom: 8px;
}
.advantages__name {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}

.most-popular {
  background-image: url(../images/popular.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 120px 0 80px;
  margin-bottom: 100px;
  -webkit-filter: drop-shadow(5px 5px 20px black);
          filter: drop-shadow(5px 5px 20px black);
}
.most-popular__title {
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #fff;
  max-width: 950px;
  margin: 0 auto;
  text-transform: uppercase;
}

.countries {
  margin-bottom: 120px;
}
.countries__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.countries__item {
  width: 250px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #C4C4C4;
  border: 1px solid #C4C4C4;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-repeat: no-repeat;
  background-size: cover;
}
.countries__item:hover {
  -webkit-box-shadow: 3px 5px 10px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 5px 10px 6px rgba(0, 0, 0, 0.25);
}
.countries__title {
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  padding-top: 22px;
}
.countries__info {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.countries__price-old {
  color: #FF1818;
  text-decoration: line-through;
  margin-bottom: auto;
}
.countries__price-new {
  font-size: 26px;
  line-height: 30px;
}
.countries__price, .countries__description {
  width: 50%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}
.countries__price {
  background-color: #fff;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.countries__description {
  background-color: #84E439;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.countries__description:hover {
  background-color: #84d545;
}

.our-reviews {
  background-image: url(../images/reviews/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  -webkit-filter: drop-shadow(5px 5px 20px black);
          filter: drop-shadow(5px 5px 20px black);
}

.reviews {
  padding-bottom: 40px;
}
.reviews__title {
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 120px 0 135px;
  margin-bottom: 40px;
  -webkit-backdrop-filter: brightness(0.8);
          backdrop-filter: brightness(0.8);
}
.reviews__slider {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: 3px 6px 10px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 6px 10px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
  background-color: #fff;
}
.reviews__slider-img {
  margin: 0 auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 50px;
}
.reviews__slider-author {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
.reviews__slider-text {
  max-width: 425px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 50px;
}
.reviews .slick-dots {
  padding-bottom: 15px;
}
.reviews .slick-next,
.reviews .slick-prev {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}
.reviews .slick-prev {
  left: 35px;
}
.reviews .slick-next {
  right: 35px;
}
.reviews__btn {
  display: block;
  text-align: center;
  border: none;
  color: #fff;
  margin: 0 auto;
  background: #F2994A;
  -webkit-box-shadow: 0px 0 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0 15px 5px rgba(0, 0, 0, 0.25);
  padding: 17px 58px;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.reviews__btn:hover {
  background: #cd8b52;
  -webkit-box-shadow: 0px 0 10px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0 10px 5px rgba(0, 0, 0, 0.25);
}

.footer {
  background-image: url(../images/footer/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.footer__bottom {
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: brightness(0.7);
          backdrop-filter: brightness(0.7);
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
}
.footer .contacts-place {
  width: 280px;
  margin-bottom: 30px;
}
.footer .contacts-phone {
  margin-bottom: 15px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__social-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social-email-img {
  margin-right: 15px;
}
.footer__social-email-link {
  color: #fff;
  text-decoration: underline;
}
.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__rights {
  color: #fff;
  text-align: right;
}
.footer__rights-btn {
  margin-top: 30px;
  border-radius: 15px;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.visa {
  margin-bottom: 100px;
}
.visa-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 55px;
  line-height: 75px;
  text-align: center;
  padding: 120px 0;
  margin-bottom: 30px;
}
.visa__directions {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 30px;
}
.visa__item img {
  width: 70px;
  height: 70px;
}
.visa__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}
.visa__slider-img {
  margin: 0 auto 20px;
}
.visa__country-title {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
.visa .slick-next,
.visa .slick-prev {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}
.visa .slick-prev {
  left: -60px;
}
.visa .slick-next {
  right: -60px;
}
.visa__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.visa__main-title {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 10px;
}
.visa__countries-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 40px;
  justify-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 50px;
  -webkit-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 75%;
}
.visa__countries-grid::before {
  content: "Шенген";
  position: absolute;
  left: 0;
  top: -50px;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 10px;
}
.visa__countries-item {
  text-align: center;
  margin: 0 auto;
}
.visa__countries-name {
  font-size: 18px;
  line-height: 22px;
}
.visa__countries-img {
  margin-bottom: 10px;
}
.visa__aside {
  background-color: #fff;
  right: 0;
  width: 250px;
  padding: 30px 15px;
  -webkit-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.visa__aside::before {
  content: "Новости:";
  position: absolute;
  right: 105px;
  top: -50px;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 10px;
}
.visa__aside-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.visa__aside-item {
  position: relative;
}
.visa__aside-item + .visa__aside-item {
  border-top: 1px solid #000;
  padding-top: 10px;
}
.visa__aside-text {
  display: inline-block;
  margin-bottom: 7px;
}
.visa__aside-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
}
.visa__aside-date {
  color: #757575;
  margin-left: 20px;
}
.visa__aside-date::before {
  position: absolute;
  content: "";
  background-image: url(../images/shengen/time.svg);
  width: 16px;
  height: 16px;
  left: 0;
  bottom: 10px;
}
.visa__aside-description {
  margin-right: 10px;
  color: #F2994A;
}
.visa__aside-description::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 6px;
  background-image: url(../images/shengen/arrow-more.svg);
  right: 0;
  bottom: 14px;
}

.shengen__bg-wrapper, .europe__bg-wrapper, .asia__bg-wrapper, .america__bg-wrapper, .africa__bg-wrapper, .news__bg-wrapper, .lithuania__bg-wrapper, .contacts__bg-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shengen__bg-wrapper {
  background-image: url(../images/shengen/bg.jpg);
}

.europe__bg-wrapper {
  background-image: url(../images/europe/bg.jpg);
}
.europe__countries-grid {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.europe__countries-grid::before {
  content: "Европа";
}

.asia__bg-wrapper {
  background-image: url(../images/asia/bg.jpg);
}
.asia__countries-grid::before {
  content: "Азия";
}

.america__bg-wrapper {
  background-image: url(../images/america/bg.jpg);
}
.america__countries-grid {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.america__countries-grid::before {
  content: "Америка";
}

.africa__bg-wrapper {
  background-image: url(../images/africa/bg.jpg);
}
.africa__countries-grid::before {
  content: "Африка";
}

.lithuania__bg-wrapper {
  background-image: url(../images/visa/bg.jpg);
}

.news__bg-wrapper {
  background-image: url(../images/news/bg.jpg);
}
.news__main {
  background-color: #fff;
  padding: 40px 100px;
  -webkit-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  position: relative;
}
.news__main::before {
  content: "Новости";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -50px;
  font-size: 30px;
  line-height: 37px;
}
.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news__item + .news__item {
  border-top: 1px solid #000;
  padding-top: 40px;
}
.news__img {
  min-width: 270px;
  margin-right: 30px;
}
.news__img img {
  width: 270px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.news__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news__title {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.news__title:hover {
  color: #F2994A;
}
.news__text {
  margin-bottom: 20px;
}
.news__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.news__date {
  margin-left: 20px;
  color: #757575;
}
.news__date::before {
  content: "";
  position: absolute;
  background-image: url(../images/shengen/time.svg);
  width: 16px;
  height: 16px;
  bottom: 3px;
  left: 0;
}
.news__more {
  margin-right: 25px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.news__more:hover {
  color: #F2994A;
}
.news__more::after {
  content: "";
  position: absolute;
  background-image: url(../images/news/arrow.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  right: 0;
  bottom: 0;
}

.news-page__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.news-page__title:hover {
  color: #000;
}

.visa__info {
  width: 75%;
  background-color: #fff;
  padding: 40px;
  -webkit-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
}
.visa__block-left {
  margin-bottom: 60px;
}
.visa__block-right {
  text-align: right;
  margin-bottom: 60px;
}
.visa__img {
  width: 375px;
  height: 250px;
  border-radius: 20px;
  float: left;
  margin-right: 20px;
  margin-bottom: 25px;
  -webkit-filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.25));
}
.visa__img-right {
  width: 375px;
  height: 250px;
  border-radius: 20px;
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
  -webkit-filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.25));
}
.visa__text-title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 22px;
}
.visa__text-ordinary {
  margin-bottom: 25px;
}
.visa__text-duration, .visa__text-recieve {
  text-decoration: none;
  margin-bottom: 5px;
}
.visa__text-duration span, .visa__text-recieve span {
  text-decoration: underline;
}
.visa__requirements {
  text-decoration: underline;
}
.visa__list {
  list-style: inside;
}
.visa__note span {
  color: red;
}
.visa__end {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.contacts__bg-wrapper {
  background-image: url(../images/contacts/bg.jpg);
}
.contacts__main {
  padding: 30px 80px;
  width: 75%;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  background-color: #fff;
}
.contacts__main::before {
  content: "Контакты";
  position: absolute;
  left: 0;
  top: -50px;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 10px;
}
.contacts__title {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 35px;
}
.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.contacts__connection {
  color: #000;
}
.contacts__address {
  color: #000;
  margin-bottom: 25px;
  position: relative;
}
.contacts__address::before {
  content: "";
  position: absolute;
  background-image: url(../images/icons/location.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  left: -42px;
  top: 4px;
}
.contacts__email {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
}
.contacts__email::before {
  content: "";
  position: absolute;
  background-image: url(../images/contacts/email.svg);
  width: 37px;
  height: 37px;
  left: -42px;
  top: -6px;
}
.contacts__phones {
  position: relative;
}
.contacts__phones::before {
  content: "";
  position: absolute;
  background-image: url(../images/contacts/phone.svg);
  width: 36px;
  height: 36px;
  left: -42px;
  top: -4px;
}
.contacts__phone-num {
  display: inline-block;
}
.contacts__phone-num + .contacts__phone-num {
  margin-left: 30px;
}
.contacts__show-map {
  display: inline-block;
  margin: 0 auto;
  display: none;
}

@media (max-width: 1380px) {
  .visa .slick-prev {
    left: -40px;
  }
  .visa .slick-next {
    right: -40px;
  }
  .visa__slider {
    max-width: 1000px;
    margin: 0 auto 100px;
  }
}
@media (max-width: 1260px) {
  .form::after {
    display: none;
  }
  .form__title {
    margin: 0 auto;
  }
  .form__wrapper {
    margin: 0 auto;
  }
  .countries__inner {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .visa__aside {
    display: none;
  }
  .visa__countries-grid {
    width: 100%;
  }
  .contacts__main {
    margin: 0 auto;
  }
  .contacts__img {
    display: none;
  }
}
@media (max-width: 1100px) {
  .visa__slider {
    max-width: 800px;
  }
}
@media (max-width: 960px) {
  .header-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0;
  }
  .header-top__contacts-block {
    margin-right: 0;
  }
  .header-nav {
    margin-top: 20px;
    text-align: center;
    -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-nav.header-nav--active {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header-nav__menu {
    display: -ms-inline-grid;
    display: inline-grid;
    text-align: center;
    width: auto;
  }
  .header-nav__list + .header-nav__list {
    margin-top: 20px;
  }
  .header-nav__link {
    font-size: 25px;
  }
  .header-top__btn {
    width: 30px;
    height: 25px;
    border: none;
    margin-left: auto;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 0;
    cursor: pointer;
  }
  .header-top__btn span {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  .header-top__btn::after, .header-top__btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  .header-top__btn::before {
    top: 0;
  }
  .header-top__btn::after {
    bottom: 0;
  }
  .header {
    margin-bottom: -300px;
  }
  .form__name, .form__phone {
    display: block;
  }
  .form__name {
    margin-bottom: 25px;
  }
  .form__name-box::before, .form__phone-box::before {
    top: 7px;
    left: 7px;
  }
  .form__name-box {
    margin-bottom: 25px;
  }
  .countries__inner {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .news__item {
    display: block;
  }
  .news__img {
    display: none;
  }
}
@media (max-width: 900px) {
  .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__rights {
    margin-top: 50px;
    margin-left: auto;
  }
  .visa__slider {
    max-width: 600px;
  }
  .visa__countries-grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .header-main__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-slider {
    margin-left: auto;
  }
  .reviews__title {
    font-size: 40px;
    line-height: 50px;
    padding: 90px 10px;
  }
  .contacts__phone-num + .contacts__phone-num {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 730px) {
  .visa__slider {
    max-width: 400px;
  }
  .contacts__main {
    padding: 25px 60px;
  }
  .contacts__map {
    display: none;
  }
  .contacts__show-map {
    display: inline-block;
  }
}
@media (max-width: 680px) {
  .header-top__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10%;
  }
  .header-top__contacts-place, .header-top__contacts-time {
    margin-bottom: 25px;
  }
  .footer .contacts-time {
    margin-bottom: 15px;
  }
  .form {
    padding: 0 40px 30px;
  }
  .form__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__name {
    margin-right: 0;
  }
  .form__phone {
    margin-bottom: 25px;
  }
  .form__btn {
    margin-right: 0;
  }
  .visa__slider {
    max-width: 450px;
  }
  .europe__countries-grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .news__main {
    padding: 40px 60px;
  }
}
@media (max-width: 600px) {
  .header-slider {
    margin-top: 100px;
  }
  .advantages__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .countries__inner {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .contacts__main {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .visa__slider {
    max-width: 350px;
  }
}
@media (max-width: 530px) {
  .header-top__contacts {
    margin-left: 0;
  }
  .header-logo {
    display: none;
  }
  .header-slider {
    margin: 50px auto 0;
  }
  .header-main__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-info__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
  }
  .header-info__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
  .header-info__btn {
    display: inline-block;
  }
  .footer .contacts-place {
    margin-bottom: 100px;
  }
  .america__countries-grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .africa__countries-grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .news__main {
    padding: 40px 25px;
  }
}
@media (max-width: 450px) {
  .most-popular {
    padding: 40px 0;
    margin-bottom: 60px;
  }
  .most-popular__title {
    font-size: 30px;
    line-height: 40px;
  }
  .reviews__slider-text {
    padding: 0 15px;
  }
  .reviews .slick-next {
    right: 15px;
  }
  .reviews .slick-prev {
    left: 15px;
  }
  .visa__slider {
    max-width: 300px;
  }
  .visa__countries-grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .visa .slick-prev {
    left: 0px;
  }
  .visa .slick-next {
    right: 0px;
  }
  .news-title {
    font-size: 45px;
    line-height: 60px;
  }
  .news__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .news__date::before {
    bottom: 35px;
    left: 0;
  }
  .news__more::after {
    left: 150px;
    bottom: 0;
  }
  .news-page__date::before {
    bottom: 3px;
  }
}
@media (max-width: 400px) {
  .form {
    padding: 0 20px 25px;
  }
  .form__name, .form__phone {
    width: inherit;
  }
  .america-title {
    font-size: 45px;
    line-height: 60px;
  }
}